*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(145deg, rgba(41,51,65,1) 35%, rgba(63,89,81,1) 96%);
    background-repeat:no-repeat;
    width: 100%;
    height: 70vw;
    font-family: 'Poppins', sans-serif;
   
}


.nav-bar{
    display: flex;
    margin-top: 1rem;
    .logo-nav-bar{
        margin-left:1.5rem;
        width: 55px;
        height: 64px;
        display: inline-block;
        &:hover{
            transform: scale(1.1);
            transition: all 400ms ease-in-out;
        }
    }
    .nav-link{
        width: 100%;
        ul{
            display: flex;
            justify-content: flex-end;
            margin-right: 2rem;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: wheat;
                    margin-right: 2rem;
                    letter-spacing: .1rem;
                    &:hover{
                        color: #FBFF12 ;
                        transition: all 500ms ease-in-out;
                        border-bottom: .2rem solid #FBFF12;
                    }
                }
                
            }
        }

    }
}

.controles{
    display: flex;
    justify-content: space-between;
    transform: translateY(21rem);
    
    .botonera-redes{
        margin-left: -8rem;
        ul{
        display: flex;
        list-style: none;
        transform: rotate(-90deg);
        a{
            text-decoration: none;
            margin-left: .5rem;
            color: #898d8d;
            &:hover{
                color: #FBFF12;
            }
        }
        }


    }
    
    .btn-g-r{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        img{
            width: 45px;
            margin-top: .5rem;
            opacity: .6;
            &:hover{
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}
.title-container{
    position: relative;
    margin-top: -4rem;
    margin-left: 10rem;
    h1{
        font-size: 4rem;
        color: #FBFF12;
        margin-bottom: -1rem;
        text-shadow: red 0 0, cyan 0 0;
        transition: text-shadow 200ms;
        &:hover{
            text-shadow: red -6px 0, cyan 6px 0;
            letter-spacing: .1rem;
        }
    }
    h3{
        color: #FBFF12;
    }
    p{
        color: #898d8d;
    }
}

.sedes-item{
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
   
    .item{
        position: relative;
        width: 30%;
        margin-right: 1rem;
        h4{
            color: #FBFF12;
            font-size: 1.2rem;
            background-color: #232b38;
            text-align: center;
        }
        img{
            width: 100%;
            background-size:cover;
           
            box-shadow: 1px 5px 21px 2px rgba(0,0,0,0.41);
            -webkit-box-shadow: 1px 5px 21px 2px rgba(0,0,0,0.41);
            -moz-box-shadow: 1px 5px 21px 2px rgba(0,0,0,0.41);
        }
        &:hover .info-item{
            visibility: visible;  
            transform: scale(1); 
            transition: all 400ms ease-in-out;
            
          }
       
    }

    .info-item{
        visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transform: translateY(-6rem);
        text-align: center;
        border-bottom: 10px solid #FBFF12;
        background-color: rgba(137, 141, 141, 0.445);
        color: wheat;
        transition: all 800ms ease-in-out;
        transform: scale(0);
       
        .info-text{
            transform: translateY(10rem);
            div{
                margin-top: 2rem;
                a{
                    position: relative;
                     text-decoration:none;
                     color: #232b38;
                     width: 10px;
                     height: 30px;
                     border-radius:30px;
                     padding: 10px 20px;
                     background-color: #FBFF12;
                     letter-spacing: 2px;
                    
                     &:hover{
                         color: #232b38;
                         background-color: #fbff1260;
                         border: 1px solid #FBFF12;
                         transition: all 600ms ease-in-out;
                     }
                 }
            }
        }
       
       
    }
}

footer{
    position: relative;
    width: 100%;
    height: 55px;
    bottom: -2rem;
    background-color: #232b38;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin-right: 1rem;
        &:hover{
            color: #FBFF12;
        }
    }
    
}



