/* colores: 

primario: #FBFF12;
Perla-textos: #DAEAEF
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(145deg, rgba(41,51,65,1) 35%, rgba(63,89,81,1) 96%);
    background-repeat:no-repeat;
    width: 100%;
    height: auto;
}


/* -------------------------------------------------/-----nav-bar con bootstrap------ */

.bg-light{
    background-color: transparent;
}
.navbar-brand{
    margin-left:1.5rem;
    width: 55px;
    height: 64px;
    display: inline-block;
}
.navbar-brand:hover{
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}
.navbar-nav{
    transform: translateX(43rem);
}
.navbar-light 
.navbar-nav 
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: #DAEAEF;
    font-size: 1.1rem;
}
.navbar-light 
.navbar-nav 
.nav-link:hover{
    color:#FBFF12;
}
.logo{
    margin-left:1.5rem;
    width: 55px;
    height: 64px;
    display: inline-block;
}

.logo:hover{
    transform: scale(1.1);
    transition: all 400ms ease-in-out;
}



@media screen and (max-width: 768px){
    .nav-bar{
        z-index: 6;
    }
    .navbar-nav{
        transform: translateX(0);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #232b38;
        width: 100%;
        height: 250px;
    }
    .navbar-nav .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.4rem;
        line-height: .1rem;
    }
    
    .navbar-toggler{
        z-index: 3;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
    }

    .main-container{
        z-index: 0;
    }
}

/* ---------------------------________MAIN___________ */

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
    gap: 2rem;
}
.title-container{
  
    transform: translateX(11rem);
    position: relative;
    top: -8rem;
    z-index: 5001;
}
.title-container h1{
    margin-left: -1rem;
    font-size: 5rem;
    color: #FBFF12;
    font-weight: 900;
    font-style: italic;
}
.title-container span{
    position: relative;
    top:-.5rem;
    font-size: 2rem;
    color:#FBFF12;
    margin-top:2rem;
}
.title-container p{
    font-size: 1rem;
    color:grey;
    margin-top: 0.5rem;
    letter-spacing: .05rem;
}
.title-container h3{
    color: #FBFF12;
    font-size: 1.5rem;
}

.btn{
    width: 150px;
    height: 40px;
    margin-top: 1.5rem;
    border-radius: 2rem;
    background-color: #FBFF12;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family:  'Poppins', sans-serif;
    letter-spacing: .04rem;  
    color: #293241;  
}
    

.btn:hover {
    background-color: hsla(194, 40%, 90%, 0.347) ;
    border: 3px solid #FBFF12;
    transition: all 200ms ease-in-out;
   
}


    
.btn a:hover{
 color: #FBFF12;
 
}

.hero-img {
    width: 900px;
    position: relative;
    z-index: 3;
    transform: translateX(-7rem);
    margin-bottom: 6rem;
}

/* _____ Multimedia_____ */

.multimedia{
    width: 500px;
    height: 216px;
    position: relative;
    display: flex;
    transform: translateY(-17.5rem);
    left: 5rem;
    z-index: 4;
}

.multimedia-items{
    position: relative;
}
.multimedia_items img{
    width: 300px;
    height: 172.219px;
}
.multimedia_items span{
    display: flex;
    position: relative;
    transform: translateY(9rem);
    left:20px ;
    font-size: 2rem;
    font-weight: 800;
    color: #FBFF12;
    text-transform: uppercase;
}

/*---------------------------------------------------------- ----TORNEOS-html----- */


.torneo__title{
    position: relative;
    top: 1rem;
    text-align: center;
    width: 450px;
    transform: translateX(24rem);
    top:-9rem;

}
.torneo__title h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
} 
.torneo__title h1:hover{
    text-shadow: red -6px 0, cyan 6px 0;
}

.torneos{
    display: flex;
    position: relative;
    gap: .5rem;
    background-color: #FBFF12;
    width: 900px;
    transform: translateY(-15rem);
    margin-left: 13rem;
}


.torneos__item {
    background: no-repeat url(./img/torneos/torneo-f6.png);
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    z-index: 0;
}
.torneos__item2 {
    background:  no-repeat url(./img/torneos/torneo-f8-dom.png);
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
}




.torneos__item3 {
    background:  no-repeat  url(./img/torneos/torneo\ f8\ miercoles.png) ;
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    
}


.torneos div:hover{
    transform: translateY(-10rem);
    transition: all 200ms ease-in;
    filter: grayscale(0);
    transform: scale(1.2,1.2);
    position: relative;
    z-index: 1;
    filter: saturate(200%);
    mix-blend-mode:normal;
}




/* ------------------------------------------------------------------- CAMPEONES-- SECTION----- */


.title-campeones h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
} 
.title-campeones h1:hover{
    text-shadow: red -6px 0, cyan 6px 0;
}

.title-campeones{
    position: relative;
    margin-left: -22rem;
}
.title-campeones h3{
    margin-top: -1rem;
}
.bnt-campeones{
    transform: translateY(20rem);

}

.Campeones__grid{
    position: absolute;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 144px 144px 144px;
    grid-gap: 1rem;
    top:0;
    transform: translate(21rem, 30rem);
    
}
.card__campeon{
    position: relative;
    width: 15rem;
    height: 9rem;
    border-radius: .8rem;
}
.card__img img{
    position: relative;
    height: 9rem ;
    width: 245px;
    
}
.card__info{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(86, 88, 88, .7);
    width: 245px;
    height: 9rem;
    position: absolute;
    top: 0;
    visibility: hidden;
    
}

.card__info h4{
    color:#DAEAEF;
    font-size: 1.8rem;
    text-align: center;
}
.card__img__info{
    display: flex;
    justify-content: space-around;
}

.card__info img{
    width: 40px;
}

.card__info span{
    color:#DAEAEF;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .06rem;
    line-height: 1.5rem;
}
.card__score{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.card__score span{
    font-size: 1.3rem;
    font-weight: 800;
    
}
.card__campeon:hover .card__info{
    visibility: visible;
    cursor: pointer;
    transition: all 4s ease-in-out;
}




/* ---------------------------------------------------------------/-Medalleros-/ */

.title-efecto h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
} 


.title-efecto h1:hover {
    text-shadow: red -6px 0, cyan 6px 0;
}

.hero-container{
    width: 1000px;
    overflow: hidden;
}
.hero-container img{
    width: 1000px;
    margin-bottom: -10rem;
   
}
.icon-equipo{
    text-align: start;
}

.icon-table{
    width: 25px;
    height: 25px;
    margin-right: .4rem;
}
.torneos-item{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: -7rem;
}

.container-table{
    display: flex;
    flex-direction: row;
    z-index: 1;
    
}
.container-medallero{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    align-items: center;
}
.container-medallero h4{
    color: #FBFF12;
    font-weight: 600;
    background-color: #232b38;
    width: 400px;
    text-align: center;
}

table td{
    text-align: center;
}

/* ----------------------------------------------------------------------Contacto.html */

.form{
    position: relative;
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(15rem, -16rem);
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    z-index: 11;
   

}

.form-img{
   
    background:  url(/img/estadio-lleno-2.png) ;
    width: 45%;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.form-img .form-img-container{
    height: 500px;
}
.form-logo{
    width: 55px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
}

.form-img h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #232b38;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -.1rem;
    transform: translateY(1rem);
    text-shadow: 1px 3px 3px rgba(255,255,255,0.6);
}
.form-img h4{
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: #232b38;
    transform: translateY(1rem);
    text-shadow: 1px 3px 3px rgba(255,255,255,0.6);
}

.redes{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    
}
.red{
    font-size: .8rem;
    width: 30px;
    height: 30px;
    background-color: #FBFF12;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid white;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.red:hover{
    background-color: #232b38;
    color: white;
}
.form-container{
    background-color: #FBFF12;
    width: 55%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-container .form-content{
    display: flex;
    flex-direction: column;
    padding: .3rem;
}
.form-container h2{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
}
.form-container label{
    font-size: 1rem;
    color: #666806;
    font-style: italic;
}
.form-container input, select{ 
    background-color: #FBFF12;
    border:none;
    border-bottom: 1px solid #232b38;
}
.form-container input::placeholder{
    font-size:.6rem;
    color: #aeb10a;
}
.form-container select, option{
    font-size: .8rem;
    color: #aeb10a;
}

.form-container textarea{
    margin-top: 1rem;
    width: 100%;
    background-color: #FBFF12;
    border: 1px solid #232b38;
    height: 30%;
}
.form-container textarea::placeholder{
    font-size: .6rem;
    padding: .3rem;
    color: #232b38;
}

.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1rem;
    transform: translateY(-3rem);
}

.form-btn button{
    width:120px ;
    height: 30px;
    border-radius:20px;
    background-color: #232b38;
    color: #FBFF12;
    transition: all 400ms ease-in-out;
    border: none;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
}
.form-btn button:nth-child(2){
    background-color: #FBFF12;
    color: #232b38;
    border: 1px solid white;
}
.form-btn button:nth-child(2):hover{
    background-color: #232b38;
    color: #FBFF12;
    border: none;
}
.form-btn button:hover{
    background-color: #FBFF12;
    border: 1px solid white;
    color:#232b38;
}


/* ----------------------------------------------/footer/ */


footer{
    background-color: #232b38;
    width: 100%;
    display: flex;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 1rem;
    text-transform:none;
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    z-index: 0;
}
/* no fucioa el hover en le footer */
footer a:hover{
    color: #FBFF12;
    transition: all 500ms ease-in-out ;
}

/* -------------------------------------------------controles-laterales */


.botonera-redes{
    display: flex;
    transform: rotate(-90deg);
    position: fixed;
    margin-left: -6rem;
    justify-content: flex-end;
    z-index: 6;
}
.botonera-redes ul{
    position: relative;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


.botonera-redes a{
    font-size: .8rem;
    font-weight: 400;
    text-transform:lowercase;
    font-style: italic;
    color:#565858;
    margin-right: .5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    
}

.botonera-redes a:hover{
    color: #DAEAEF;
    transform: translateX(-.5rem);
    transition: all 500ms ease-in-out;
}
.btn-g-r{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 5;
    transform: translate(-.5rem);
    position: fixed;
} 
 /* Pasar a svg los iconos de la botonera */
.btn-g-r img{
    width: 40px;
    margin-right: .5rem;
    margin-top: .5rem;
    opacity: .6;
}
.btn-g-r img:hover{
    width: 45px;
    opacity: 1;
    transition: all 300ms ease-in-out;
    box-shadow: 2px 0px 24px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
}




/* -------------------------------------------------------------Medias Quiery---------------------- */


@media screen and (max-width: 500px){
   body{
    background: none;
    background-color: #293241;
   }
   
   /* --------------------------index.hmtl */
   .container-fliud {
    z-index: 6;
   }
   .title-container{
    transform: translateX(4rem);
    z-index: 1;
   }
   .title-container h1{
    font-size: 4rem;
   }
   .hero-img{
    /* display: none; */
    width: 500px;
    transform: translateX(0);
    position: absolute;
    transform: translateY(12.8rem);
    
   }

   .multimedia{
    display: none;
   }
   footer_inicio{
    position: relative;
    transform: translateY(-20rem);
   }
/* ------------------------------------torneos.html */
    .title-top{
        top: -11rem;
    }
    .torneo__title {
        width: 400px;
    }
   .torneos{
    flex-direction: column;
    margin-top: -8rem;
    margin-left: 7rem;
    width: 300px;
    gap: .8rem;
   }

   /* ----------------------------------campeones.html */
   .Campeones__grid{
    grid-template-columns: 189px 180px;
    transform: translate(1rem, 30rem);
    gap: 3rem;
    margin-left: -.5rem;
   }
    .card__img img{
    width: 10px;
   }
   
   
   .footer_campeones{
    position: relative;
    margin-top: 22rem;
   }
  
}