/* colores: 

primario: #FBFF12;
Perla-textos: #DAEAEF
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(145deg, rgba(41,51,65,1) 35%, rgba(63,89,81,1) 96%);
    background-repeat:no-repeat;
    width: 100%;
    height: auto;
}
body::before{
    content: "VZTORNEOS";
    font-size: 13rem;
    margin-left: 1.5rem;
    font-weight: 800;
    color: #DAEAEF;
    opacity: .03;
    position: absolute;
    transform: translateY(2rem);
}


/* -------------------------------------------------/-----nav-bar con bootstrap------ */

.bg-light{
    background-color: transparent;
}
.navbar-brand{
    margin-left:1.5rem;
    width: 55px;
    height: 64px;
    display: inline-block;
}
.navbar-brand:hover{
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}
.navbar-nav{
    transform: translateX(43rem);
}
.navbar-light 
.navbar-nav 
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: #DAEAEF;
    font-size: 1.1rem;
}
.navbar-light 
.navbar-nav 
.nav-link:hover{
    color:#FBFF12;
}
.logo{
    margin-left:1.5rem;
    width: 55px;
    height: 64px;
    display: inline-block;
}

.logo:hover{
    transform: scale(1.1);
    transition: all 400ms ease-in-out;
}



@media screen and (max-width: 768px){
    .nav-bar{
        z-index: 6;
    }
    .navbar-nav{
        transform: translateX(0);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #232b38;
        width: 100%;
        height: 250px;
    }
    .navbar-nav .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.4rem;
        line-height: .1rem;
    }
    
    .navbar-toggler{
        z-index: 3;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
    }

    .main-container{
        z-index: 0;
    }
}

/* ---------------------------________MAIN___________ */

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
    gap: 2rem;
}
.title-container{
    transform: translateX(11rem);
    position: relative;
    top: -8rem;
    z-index: 5001;
}
.title-container h1{
    margin-left: -1rem;
    font-size: 5rem;
    color: #FBFF12;
    font-weight: 900;
    font-style: italic;
}
.title-container span{
    position: relative;
    top:-.5rem;
    font-size: 2rem;
    color:#FBFF12;
    margin-top:2rem;
}
.title-container .text-container span{
    font-size: 1rem;
    color:grey;
    margin-top: 0.5rem;
    letter-spacing: .05rem;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
}
.title-container h3{
    color: #FBFF12;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn{
    width: 150px;
    height: 40px;
    margin-top: 1.5rem;
    border-radius: 2rem;
    background-color: #FBFF12;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family:  'Poppins', sans-serif;
    letter-spacing: .04rem;  
    color: #293241;  
}
    

.btn:hover {
    background-color: hsla(194, 40%, 90%, 0.347) ;
    border: 3px solid #FBFF12;
    transition: all 200ms ease-in-out;
   
}


    
.btn a:hover{
 color: #FBFF12;
 
}

.hero-img {
    width: 900px;
    position: relative;
    z-index: 3;
    transform: translateX(-4rem);
    margin-bottom: 6rem;
}

/* _____ Multimedia_____ */

.multimedia{
    width: 500px;
    height: 216px;
    position: relative;
    display: flex;
    transform: translateY(-17.5rem);
    left: 5rem;
    z-index: 4;
}

.multimedia-items{
    position: relative;
}
.multimedia_items img{
    width: 300px;
    height: 172.219px;
}
.multimedia_items span{
    display: flex;
    position: relative;
    transform: translateY(9rem);
    left:20px ;
    font-size: 2rem;
    font-weight: 800;
    color: #FBFF12;
    text-transform: uppercase;
}

/*---------------------------------------------------------- ----TORNEOS-html----- */


.torneo__title{
    position: relative;
    top: 1rem;
    width: 450px;
    top:-9rem;
}
.torneo__title h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
} 
.torneo__title h1:hover{
    text-shadow: red -6px 0, cyan 6px 0;
}

.torneos{
    display: flex;
    position: relative;
    gap: .5rem;
    background-color: #FBFF12;
    width: 900px;
    transform: translateY(-15rem);
    margin-left: 13rem;
    margin-bottom: 3rem;
}


.torneos__item {
    background: no-repeat url(./img/torneos/torneo-f6.png);
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    z-index: 0;
}
.torneos__item2 {
    background:  no-repeat url(./img/torneos/torneo-f8-dom.png);
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
}




.torneos__item3 {
    background:  no-repeat  url(./img/torneos/torneo\ f8\ miercoles.png) ;
    background-size: cover;
    object-fit: cover;
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    
}


.torneos div:hover{
    transform: translateY(-10rem);
    transition: all 200ms ease-in;
    filter: grayscale(0);
    transform: scale(1.2,1.2);
    position: relative;
    z-index: 1;
    filter: saturate(200%);
    mix-blend-mode:normal;
}




/* ------------------------------------------------------------------- CAMPEONES-- SECTION----- */


.title-campeones h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
} 
.title-campeones h1:hover{
    text-shadow: red -6px 0, cyan 6px 0;
}

.title-campeones{
    position: relative;
    margin-left: -22rem;
}
.title-campeones h3{
    margin-top: -1rem;
}
.bnt-campeones{
    transform: translateY(20rem);

}

.Campeones__grid{
    width: 750px;
    position: relative;
    margin: 1rem;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 144px 144px 144px;
    grid-gap: 1rem;
    top:0;
    transform: translate(21rem, -20rem);
    
}
.card__campeon{
    position: relative;
    width: 15rem;
    height: 9rem;
    border-radius: .8rem;
}
.card__img img{
    position: relative;
    height: 9rem ;
    width: 245px;
    
}
.card__info{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(86, 88, 88, .7);
    width: 245px;
    height: 9rem;
    position: absolute;
    top: 0;
    visibility: hidden;
    
}

.card__info h4{
    color:#DAEAEF;
    font-size: 1.8rem;
    text-align: center;
}
.card__img__info{
    display: flex;
    justify-content: space-around;
}

.card__info img{
    width: 40px;
}

.card__info span{
    color:#DAEAEF;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .06rem;
    line-height: 1.5rem;
}
.card__score{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.card__score span{
    font-size: 1.3rem;
    font-weight: 800;
    
}
.card__campeon:hover .card__info{
    visibility: visible;
    cursor: pointer;
    transition: all 4s ease-in-out;
}




/* ---------------------------------------------------------------/-Medalleros-/ */



.title-efecto h1{
    text-shadow: red 0 0, cyan 0 0;
    transition: text-shadow 200ms;
    animation: ghost 2s ease-in-out infinite;
} 
 @keyframes ghost{
    0% {
        text-shadow: rgba(255, 0, 0, 0.637) 0 0, rgba(0, 255, 255, 0.596) 0 0;
        
    }
    50%{
        text-shadow: rgba(255, 0, 0, 0.582) -6px 0, rgba(0, 255, 255, 0.589) 6px 0;
    }
    100%{
        text-shadow: red 0 0, cyan 0 0;
    }
 } 

.hero-container{
    width: 1000px;
}
.hero-container img{
    width: 800px;
    margin-bottom: -10rem;
   
}
.icon-equipo{
    text-align: start;
}

.icon-table{
    width: 25px;
    height: 25px;
    margin-right: .4rem;
}
.torneos-item{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: -7rem;
}

.container-table{
    display: flex;
    flex-direction: row;
    z-index: 1;
    
}
.container-medallero{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    align-items: center;
}
.container-medallero h4{
    color: #FBFF12;
    font-weight: 600;
    background-color: #232b38;
    width: 400px;
    text-align: center;
}

table td{
    text-align: center;
}

/* ----------------------------------------------------------------------Contacto.html */

.form{
    position: relative;
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(15rem, -16rem);
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    z-index: 11;
   

}

.form-img{
   
    background:  url(./img/estadio-lleno-2.png) ;
    width: 45%;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.form-img .form-img-container{
    height: 500px;
}
.form-logo{
    width: 55px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
}

.form-img h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #232b38;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -.1rem;
    transform: translateY(1rem);
    text-shadow: 1px 3px 3px rgba(255,255,255,0.6);
}
.form-img h4{
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: #232b38;
    transform: translateY(1rem);
    text-shadow: 1px 3px 3px rgba(255,255,255,0.6);
}

.redes{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    
}
.red{
    font-size: .8rem;
    width: 30px;
    height: 30px;
    background-color: #FBFF12;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 solid white;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.red:hover{
    transform: scale(1.1);
    color: white;
}
.form-container{
    background-color: #cddee4;
    width: 55%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.form-container::before{
    content: "CONTACTO";
    position: absolute;
    color: #232b3815;
    font-size: 4.5rem;
    font-weight: 800;
    transform: rotate(-90deg) translateY(12.3rem);
 
}
.form-container .form-content{
    display: flex;
    flex-direction: column;
    padding: .3rem;
}
.form-container h2{
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
}
.form-container label{
    font-size: 1rem;
    color:#232b38;
    font-style: italic;
    font-weight: 600;
}
.form-container input, select{ 
    background-color: #cddee4;
    border:none;
    border-bottom: 1px solid #232b38;
}
.form-container input::placeholder{
    font-size:.6rem;
    color:#232b38;
}
.form-container select, option{
    font-size: .8rem;
    color:#232b38;
}

.form-container textarea{
    margin-top: 1rem;
    width: 100%;
    background-color: #cddee4;
    border: 1px solid #232b38;
    height: 30%;
}
.form-container textarea::placeholder{
    font-size: .6rem;
    padding: .3rem;
    color: #232b38;
}

.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1rem;
    transform: translateY(-3rem);
}

.form-btn button{
    width:120px ;
    height: 30px;
    border-radius:20px;
    background-color: #232b38;
    color: #FBFF12;
    transition: all 400ms ease-in-out;
    border: none;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
}
.form-btn button:nth-child(2){
    background-color: #FBFF12;
    color: #232b38;
    border: 1px solid white;
}
.form-btn button:nth-child(2):hover{
    background-color: #232b38;
    color: #FBFF12;
    border: none;
}
.form-btn button:hover{
    background-color: #FBFF12;
    border: 1px solid white;
    color:#232b38;
}


/* ----------------------------------------------------------------sedes.html */
.sedes-item {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transform: translateY(-19rem);
  }
  .sedes-item .item {
    position: relative;
    width: 30%;
    margin-right: 1rem;
  }
  .sedes-item .item h2 {
    color: #FBFF12;
    background-color: #232b38;
    text-align: center;
  }
  .sedes-item .item img {
    width: 100%;
    background-size: cover;
    box-shadow: 1px 5px 21px 2px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px 5px 21px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 5px 21px 2px rgba(0, 0, 0, 0.41);
  }
  .sedes-item .item:hover .info-item {
    visibility: visible;
    transform: scale(1);
    transition: all 400ms ease-in-out;
  }
  .sedes-item .info-item {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-6rem);
    text-align: center;
    border-bottom: 10px solid #FBFF12;
    background-color: rgba(137, 141, 141, 0.445);
    color:#232b38;
    font-weight: 600;
    transition: all 800ms ease-in-out;
    transform: scale(0);
  }
  .sedes-item .info-item .info-text {
    transform: translateY(10rem);
  }
  .sedes-item .info-item .info-text div {
    margin-top: 2rem;
  }
  .sedes-item .info-item .info-text div .boton-redes, .sedes-item .info-item .info-text div .boton-ig {
    position: relative;
    text-decoration: none;
    color: #232b38;
    width: 10px;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #FBFF12;
    letter-spacing: 2px;
  }
  .sedes-item .info-item .info-text div .boton-redes:hover, .sedes-item .info-item .info-text div .boton-ig:hover {
    color: #232b38;
    background-color: rgba(251, 255, 18, 0.3764705882);
    border: 1px solid #FBFF12;
    transition: all 600ms ease-in-out;
  }
  .sedes-item .info-item .info-text div .boton-ig {
    background-color: #232b38;
    color: #FBFF12;
  }
  
/*-------------------------------------------------/galeria/ */

.grid-container{
    background-color: #FBFF12;
    width: 90%;
    transform: translate(4rem, -18rem);
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.49);
    z-index: 11;
}
.grid-galeria{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.grid-logo{
    width: 160px;
}
.item-hover{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-hover-team{
    position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-hover-v{
    position: relative;
    width: 300px;
    height: 600px;
}
.grid-touch{
display: none;
}
.grid-touch-r{
    display:none
}

.grid-item-1{
    grid-column: 1/2;
    grid-row: 1;
}
.grid-item-4{
    grid-column: 4/5;
    grid-row: 1/3;
}
.grid-item-10{
    grid-column: 3/5;
    grid-row: 3;
}
.grid-item-img{
    width: 300px;
}
.grid-item-img-v{
    width: 300px;
    height: 600px;
}
.grid-item-team{
    width: 600px;
    height: 300px;
    
}
.grid-item-11{
    grid-column: 1;
    grid-row: 4/6;
}
.grid-item-12{
    grid-column: 2/4;
    grid-row:4 ;
}

.grid-item-hover{
    display: none;
    transition: all 4ms ease-in-out;
    background-color: #56585896;
    
}
.grid-item-hover h3{
    color: #cddee4;
    text-transform: uppercase;
    font-weight: 600;
}

.item-hover:hover .grid-item-hover{
    visibility: visible;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-hover-team:hover .grid-item-hover{
    visibility: visible;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-hover-v:hover .grid-item-hover{
    visibility: visible;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item-hover div{
    position: relative;
    display: flex;
    margin-top: 1rem;
   

}
.grid-item-hover i{
    margin: 1rem;
   
}
.grid-item-hover a{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBFF12;
}
.grid-item-hover a:hover{
    color: #FBFF12;
    background-color: #232b38;

}
/* --------------------------------------------------/Reglamento/ */

.regla-f8{
    width: 70%;
    height: 300px;
    position: relative;
    background-color: rgba(181, 201, 201, 0.397);
    transform: translate(10rem, -20rem);
    z-index: 6;
    padding: 1rem;
    overflow: auto;
    border: 1px solid #FBFF12;
    border-radius: 10px;
    box-shadow: 2px 0px 24px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
}

.regla-f8::-webkit-scrollbar{
    width: 8px;
}
.regla-f8::-webkit-scrollbar-thumb {
    background: #FBFF12;
    border-radius: 4px;
}

.regla-f8::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-reglamento{
    display: none;
}

.regla-f8 h4{
    font-style: italic;
}
.regla-f8 h6{
    font-style: italic;
}

/* ----------------------------------------------/footer/ */


footer{
    background-color: #232b38;
    width: 100%;
    display: flex;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    z-index: 0;
    color:#565858
}

footer a:hover{
    color: #FBFF12;
    font-size: .9rem;
    font-weight: 500;
    transition: all 400ms ease-in-out ;
}

/* -------------------------------------------------controles-laterales */


.botonera-redes{
    display: flex;
    transform: rotate(-90deg);
    position: fixed;
    margin-left: -6rem;
    justify-content: flex-end;
    z-index: 3;
}
.botonera-redes ul{
    position: relative;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.botonera-redes a{
    font-size: .8rem;
    font-weight: 400;
    text-transform:lowercase;
    font-style: italic;
    color:#565858;
    margin-right: .5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    
}

.botonera-redes a:hover{
    color: #DAEAEF;
    transform: translateX(-.5rem);
    transition: all 500ms ease-in-out;
}
.btn-g-r{
    width: 40px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 3;
    transform: translateX(78rem);
    position: fixed;
} 
  
.btn-g-r img{
    width: 40px;
    margin-right: .5rem;
    margin-top: .5rem;
    opacity: .6;
}
.btn-g-r img:hover{
    width: 45px;
    opacity: 1;
    transition: all 300ms ease-in-out;
    box-shadow: 2px 0px 24px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 34px -2px rgba(0,0,0,0.5);
}
/* -------------------------------------------------------------Medias Quiery---------------------- */

@media screen and (max-width: 900px){
    body{
        background: none;
        background-color: #293241;
       }
       body::before{
        font-size: 8rem;
        transform: translateY(5rem);
        overflow: hidden;
       }
       .container-fliud {
        z-index: 6;
       }

       .navbar-nav{
        display: inline-block;
        width: 300px;
        transform: translateX(15rem);
        text-align: center;
       }
      
       .hero-img{
        width: 650px;
        position: absolute;
        transform: translate(15.5rem, 12rem);
       }
       .multimedia{
        left: 0;
        transform: translateY(-4rem);
        z-index: 4;
       }

       .btn-g-r{
        z-index: 7;
        transform: translateX(50rem);
       }
       .botonera-redes{
        z-index: 5;
       }

       /* ----------------------------------------------------torneos.html */

       .torneos{
        transform: translateX(14rem);
        flex-direction: column;
        margin-top: -20rem;
        margin-left: 7rem;
        width: 300px;
        gap: .8rem;
       }

       
       /* ----------------------------------------------------torneos.html */


       .Campeones__grid{
        width: 500px;
        position: relative;
        margin: 1rem;
        display: grid;
        grid-template-columns: 250px 250px ;
        grid-template-rows: 144px 144px 144px 144px;
        grid-gap: 1rem;
        top:0;
        transform: translate(12rem, -20rem);
       }

        /* ----------------------------------------------------medallero.html */

        .title-container{
            margin-top: -8rem;
        }
        .hero-container{
            width: 400px;
            height: 300px;
            transform: translate(-30rem, 5rem)
           }
           .hero-container img{
            width: 600px;
            transform: translateX(10rem);
            
           }
           .torneos-item{
            width: 490px;
            z-index: 1;
            transform: translate(15rem, 2rem);
           }
           .container-table{
            flex-direction: column;
           }
           
           .container-medallero{
            margin-bottom: 2rem;
            background-color: #293241;
           }

  /* ----------------------------------------------------contacto.html */
           .form{
            flex-direction: column;
            width: 400px;
            height: 1000px;
            transform: translate(16rem, -25rem);
            margin-bottom: 2rem;
            z-index: 1;
           }
           .form-img{
            width: 400px;
           }
        
           .form-container {
            width: 400px;
            height: 600px;
           
           }
           .form-content {
            margin-bottom: 1.5rem;
            z-index: 5;
           }
           .form-container label{
            margin-bottom: .2rem;
           }
           .form-container input {
            font-size: .8rem;
           }
           .form-btn{
            transform: none;
            margin-top: -1.7rem;
           }
        
 /* ----------------------------------------------------sedes.html */

           .sedes-item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-right: 0;
        }
        .sedes-item .item{
            width:350px;
            margin-bottom: 1rem;
        }

 /* ----------------------------------------------------galeria.html */

        .grid-container{
            width: 750px;
        }
        .grid-galeria{
            display: grid;
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: repeat(6, 250px);
            justify-items: center;
            align-items: center;
      
          
        }
        .grid-item-1{
            grid-row: 1/2;
        }
        .grid-item-2{
            grid-column: 2/3;
            grid-row: 1/2;
           
        }
      
        .grid-item-4{
            grid-column: 3/4;
            grid-row: 1/3;
        }
        
        .grid-item-10{
            display: none;
            grid-column: 1/3;
            grid-row: 4/5;
        }
        .grid-item-img{
            width: 250px;
        }
        .item-img-v{
            width: 250x;
            height: 500px;
        }
        .grid-item-team{
            width: 500px;
            height: 250px;
            
        }
        .grid-item-11{
            
            grid-column: 1;
            grid-row: 4/6;
        }
        .grid-item-12{
           
            grid-column: 2/4;
            grid-row:4 ;
        }
           .grid-touch{
            display: flex;
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: #293241;
            color: white;
            font-weight: 00;
            font-size: 2rem;
            bottom: 0;
            left: 0;
            align-content:center;
            justify-content: center;
            z-index: 2;
           }
           .grid-touch span {
            display: flex;
            justify-content: center;
            align-items: center;
        
           }
           .grid-touch-r{
            display: flex;
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: #293241;
            color: white;
            font-weight: 400;
            font-size: 1.3rem;
            bottom: 0;
            right: 0;
            align-content:center;
            justify-content: center;
            z-index: 2;
           }
           .item-hover{
            position: relative;
            width: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grid-item-hover h3{
            font-size: 1.4rem;
        }
        .grid-item-hover i a {
            width: 35px;
            height: 35px;
        }

}
@media screen and (max-width: 500px){
   body{
    background: none;
    background-color: #293241;
   }
   body::before{
    font-size: 4.5rem;
    transform: translateY(8rem);
    overflow: hidden;
   }
   
   /* --------------------------index.hmtl */
   .container-fliud {
    z-index: 6;
   }
   .title-container{
    transform: translateX(4rem);
    z-index: 1;
   }
   .title-container h1{
    font-size: 4rem;
   }
   .hero-img{
  
    width: 500px;
    
    position: absolute;
    transform: translate(-.1rem, 10rem);
    
   }

   .multimedia{
    display: none;
   }
   footer_inicio{
    position: relative;
    transform: translateY(-20rem);
   }
/* ------------------------------------torneos.html */
    .title-top{
        top: -11rem;
    }
    .torneo__title {
        width: 400px;
    }
   .torneos{
    flex-direction: column;
    margin-top: -8rem;
    margin-left: 7rem;
    width: 300px;
    gap: .8rem;
   }
   /* --------------------------------------medalleros.html/ */
   .hero-container{
    width: 400px;
    height: 300px;
    transform: translate(-30rem, 7rem)
   }
   .hero-container img{
    width: 450px;
    transform: translateX(4rem);
    
   }
   .torneos-item{
    width: 490px;
   z-index: 1;
   }
   .container-table{
    flex-direction: column;
   }
   
   .container-medallero{
    margin-bottom: 2rem;
    background-color: #293241;
   }

   /* -------------------------------------contacto.html */
   .form{
    flex-direction: column;
    width: 400px;
    height: 1000px;
    transform: translate(3rem, -19rem);
    margin-bottom: 2rem;
    z-index: 1;
   }
   .form-img{
    width: 400px;
   }

   .form-container {
    width: 400px;
    height: 600px;
   
   }
   .form-content {
    margin-bottom: 1.5rem;
    z-index: 5;
   }
   .form-container label{
    margin-bottom: .2rem;
   }
   .form-container input {
    font-size: .8rem;
   }
   .form-btn{
    transform: none;
    margin-top: -1.7rem;
   }


   /* ----------------------------------campeones.html */
   .Campeones__grid{
    grid-template-columns: 189px 180px;
    transform: translate(1rem, -20rem);
    gap: 3rem;
    margin-left: -.5rem;
   }
    .card__img img{
    width: 10px;
   }
   
   
   .footer_campeones{
    position: relative;
    margin-top: 22rem;
   }

   /* -------------------------------------botonero-redes/ */

   .btn-g-r{
    
    transform: translateX(28rem);
   }

  
   .title-container span{
    font-size: 1.5rem;
    
   }

 /* ------------------------------------------------------sedes/ */

    .sedes-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 0;
    }
    .sedes-item .item{
        width:350px;
        margin-bottom: 1rem;
    }
   /* -------------------------------------------------reglamento/ */
   .regla-f8{
    
    height: 500px;    
    transform: translate( 5rem, -19rem) ;
    
   }
   .reglamento{
    width: 300px;
   }
   .btn-reglamento{
    margin-top: 2rem;
        margin-left: 2rem;
        display: flex;
        width: 300px;
        height: 50px;
        background-color: #FBFF12;
        border: 1px solid white;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
   }

   .btn-reglamento a{
       text-decoration: none;
       text-transform: uppercase;
       color: #232b38;
   }
   /* -----------------------------------------------Galerìa.html */

   .grid-container{
    width: 400px;
    margin-left: -1.5rem;
   }
   .grid-galeria{
    display: grid;
    grid-template-columns:  200px 200px;
    grid-template-rows: repeat(6, 200px);
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.grid-logo{
    width: 100px;
    transform: translateX(-1.5rem);
}
.grid-item-1{
    grid-column: 1;
    grid-row: 1/2;
}
.grid-item-2{
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.grid-item-4{
    display: none;
    grid-column: 1/3;
    grid-row: 3/5;
}

.grid-item-10{
    display: none;
    grid-column: 1/3;
    grid-row: 4/5;
}
.grid-item-img{
    width: 200px;
}
.grid-item-img-v{
    width: 200px;
    height: 400px;
}
.grid-item-team{
    width: 600px;
    height: 300px;
    
}
.grid-item-11{
    display: none;
    grid-column: 1;
    grid-row: 4/6;
}
.grid-item-12{
    display: none;
    grid-column: 2/4;
    grid-row:4 ;
}
   .grid-touch{
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #293241;
    color: white;
    font-weight: 00;
    font-size: 2rem;
    bottom: 0;
    left: 0;
    align-content:center;
    justify-content: center;
   }
   .grid-touch span {
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .grid-touch-r{
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #293241;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    bottom: 0;
    right: 0;
    align-content:center;
    justify-content: center;
   }
   .item-hover:hover .grid-item-hover{
    visibility: visible;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
   transform: translate(1.5rem, 1.5rem);
}
}

